<div class="bg-black text-white flex flex-wrap items-center mt-20 justify-between ">

  <!--pic section -->
  <div  class="bg-[#121214]  p-6 rounded-xl text-center w-full md:w-[35%]">
    <div class="w-40 h-40 rounded-full bg-orange-500 mx-auto overflow-hidden flex items-center justify-center">
      <img src="" alt="Bentos Walker" class="w-full object-cover" />
    </div>
   
    <p class="text-sm px-3 mb-4 tracking-[2px] mx-7 text-gray-400 mt-4 leading-[28px]">I am a Web Designer Front End Developer Angular based in Egypt.</p>
     
   
   
  </div>

  <!-- details section -->
  <div class="rounded-xl w-full  md:w-[62%]">

  <div class="bg-[#121214] rounded-xl w-full  py-8  px-12">
   
     <h2 class="text-5xl font-semibold leading-16">I’m Heba Hesham, a Front End Developer Angular.</h2>
     <p class="text-[#9F9F9F] mt-7"> ’m an Alexandria-based front-end developer with a strong focus on web design, responsive interfaces, and interactive user experiences. I work with modern technologies like Angular, Tailwind CSS, and PrimeNG to deliver clean, fast, and user-friendly web projects. I have experience working on a diverse range of projects — from landing pages and business websites to full-featured dashboards and web applications — always aiming to blend clean code with smart, modern design. </p>

    <button type="button" class="text-white bg-[#EB5D3A] hover:bg-[#121214] hover:border-[0.2px] hover:border-[#9F9F9F]  transition  mt-7 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-2xl text-sm px-9 py-4 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get In touch <i class="fa-solid fa-envelope-open-text ml-2"></i></button>

  </div>

</div>

<!-- section two -->
 <div class="bg-black text-white flex flex-wrap items-center mt-20 justify-between ">

    <!-- section experince -->
  <div  class="bg-[#121214]  p-6 rounded-xl  w-full md:w-[48%]">
      <h2 class="text-2xl font-bold ml-5">Experience</h2>
   <div class="flex mt-10 border-b border-gray-800">
     <div class="ml-5">
        <i class="fa-solid fa-book-bookmark text-3xl text-[#EB5D3A]"></i>
    </div>

   <div class="ml-5">
  
    <p class="text-gray-400">Dec 2023 - Jun 2024</p>
    <h2 class="text-[#CCCCCC] font-bold text-2xl">UI Developer</h2>
    <p class="text-sm px-3 mb-4 tracking-[2px] mx-7 text-gray-400 mt-4 leading-[28px]">Worked closely with a teaching assistant to design and develop responsive website interfaces using HTML, CSS, and Bootstrap. Focused on clean layouts and learning the basics of front-end development through hands-on projects.</p>
     
   </div>
   
   </div>
   

  </div>

  <!-- section education -->
   <div  class="bg-[#121214]  p-6 rounded-xl  w-full md:w-[50%]">
      <h2 class="text-2xl font-bold ml-5">Education</h2>
   <div class="flex mt-10 border-b border-gray-800">
     <div class="ml-5">
        <i class="fa-solid fa-book-bookmark text-3xl text-[#EB5D3A]"></i>
    </div>

   <div class="ml-5">
  
    <p class="text-gray-400">2019 - 2023</p>
    <h2 class="text-[#CCCCCC] font-bold text-2xl">Bachelor's Degree in Computer Information Systems</h2>
    <p class="text-sm px-3 mb-4 tracking-[2px] mx-7 text-gray-400 mt-4 leading-[28px]">Alexandria-University </p>
     
   </div>
   
   </div>
    <div class="flex mt-10 border-b border-gray-800">
     <div class="ml-5">
        <i class="fa-solid fa-book-bookmark text-3xl text-[#EB5D3A]"></i>
    </div>

   <div class="ml-5">
  
    <p class="text-gray-400">Sep 2024 - Mar 2025</p>
    <h2 class="text-[#CCCCCC] font-bold text-2xl">Front-End Development Diploma Route Academy — Alexandria, Egypt.</h2>
    <p class="text-sm px-3 mb-4 tracking-[2px] mx-7 text-gray-400 mt-4 leading-[28px]">Completed intensive training in front-end development, covering HTML, CSS, JavaScript, Bootstrap, SASS ,Jquery ,Tailwind CSS AndAngular. Focused on building modern, responsive web applications with clean UI/UX.</p>
     
   </div>
   
   </div>
   

  </div>
   <!-- <div  class="bg-[#121214]  p-6 rounded-xl text-center w-full md:w-[50%]">
    <div class="w-40 h-40 rounded-full bg-orange-500 mx-auto overflow-hidden flex items-center justify-center">
      <img src="" alt="Bentos Walker" class="w-full object-cover" />
    </div>
    <h2 class="text-2xl font-semibold mt-4">Heba</h2>
    <h2 class="text-2xl font-semibold ">Hesham</h2>
    <p class="text-sm px-3 mb-4 tracking-[2px] mx-7 text-gray-400 mt-4 leading-[28px]">I am a Web Designer Front End Developer Angular based in Egypt.</p>
     
   
   

  </div> -->
  </div>

  <!-- section three -->
   <section class="bg-[#121214] text-white py-16 px-6 md:px-20 w-full rounded-xl p-16  mt-10">
  <div class="text-center ">
    <h2 class="text-5xl font-medium mb-4 leading-[60px] mx-auto text-center">Are You Ready to kickstart your project with a touch of magic?</h2>
    <p class="text-gray-400 max-w-xl mx-auto">
     Reach out and let's make it happen ✨. I'm also available for full-time or Part-time opportunities to push the boundaries of design and deliver exceptional work.
    </p>
        <button   type="button" class="text-white bg-[#EB5D3A] hover:bg-[#121214] hover:border-[0.2px] hover:border-[#9F9F9F]  transition  mt-7 focus:ring-4 focus:outline-none  font-medium rounded-2xl text-sm px-15 py-4 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Let's Talk <i class="fa-solid fa-angles-down"></i></button>

  </div>

 
 </section>